html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a; /* Fundo escuro */
    color: #fff; /* Texto claro */
}

.container {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: flex-start;
}

.box {
    display: flex;
    flex-direction: column;
    width: min(95%, 800px);
    margin-top: 85px;
    background-color: #333; /* Fundo da caixa */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8); /* Sombra */
    min-height: 600px;
}

.bottom {
    padding-bottom: 0;
    background-color: #333;
    width: 100%;
    border-bottom: 10px solid #222;
}

.more-info {
    color: #097df1;
    text-decoration: none;
    font-weight: bold;
}

.more-info:hover {
    text-decoration: underline;
}

.message {
    margin: 20px;
}

.usermessagediv {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-left: 20%;
}

.usermessage {
    background-color: #097df1;
    color: #fff;
    padding: 0.5rem .875rem;
    border-radius: 20px;
}

.appmessagediv {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-right: 20%;
}

.appmessage {
    background-color: #444; /* Fundo escuro para mensagens do bot */
    color: #fff;
    padding: 0.5rem .875rem;
    border-radius: 20px;
}

.upper {
    flex: 1 1 auto;
    padding-top: 40px;
    padding-bottom: 20px; /* Ajuste conforme necessário */
    overflow: auto;
    min-height: 400px;
}

.upper::-webkit-scrollbar {
    width: 0 !important;
}

#sendbtn:disabled {
    opacity: 0.6;
}

.downwarning {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 90%;
    color: gray;
}

nav {
    position: fixed;
    width: 100%;
    padding: 3px;
    background-color: #222; /* Fundo escuro para o nav */
    box-shadow: 1px 1px 5px #00000057;
}

.internal-nav {
    width: min(95%, 800px); /* Define a mesma largura que o container */
}

#userinput {
    background-color: #555; /* Fundo escuro para o campo de input */
    color: #fff; /* Texto branco no campo de input */
}

#userinput::placeholder {
    color: #bbb; /* Placeholder mais claro */
}

#sendbtn {
    background-color: #097df1; /* Azul para o botão de envio */
    color: white;
}

#sendbtn:hover {
    background-color: #065ec2; /* Botão mais escuro no hover */
}
.bg-neutral-900 {
    background-color: #222;
}

.bg-neutral-700-hover:hover {
    background-color: #4c4c4c;
}

.github-fork-ribbon:before {
    background-color: #333;
}
#context-modal{
    z-index: 99999;
}



.sidebar-toggle img {
    margin-right: 8px;
    transition: opacity 0.3s ease;
}


 .sidebar-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.sidebar-toggle img {
    margin-right: 8px;
    transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect with white shadow */
 .sidebar-toggle:hover img {
    filter: invert(1) drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
}


/* Sidebar transition */
.hidden-sidebar {
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.show-sidebar {
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.svg-white {
    filter: invert(1) brightness(2);
}
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px; /* 26px reduced by 40% */
    width: 14px; /* 26px reduced by 40% */
    left: 3px; /* Adjusted to fit the smaller size */
    bottom: 3px; /* Adjusted to fit the smaller size */
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(16px); /* Adjusted to fit the smaller size */
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px; /* Adjusted to fit the smaller size */
}

.slider.round:before {
    border-radius: 50%;
}

/* Modal Visibility */

#config-modal.flex {
    display: flex;
}
#config-modal.hidden {
    display: none;
}
#config-modal .bg-white {
    max-width: fit-content;
    width: 90%; /* Makes the modal wider */
    max-height: 80vh; /* Limit the modal height */
    overflow-y: auto; /* Enable vertical scrolling */
}